@model ArchiveVM

<div class="container p-3 bg-white">
    <div class="row pt-4">
            <h2>Сохраненные расчеты</h2>
    </div>

    <br /><br />
    @if(Model != null)
    {
        @if (Model.DataForColumn != null && Model.DataForColumn.Count() > 0)
        {
            <h4 class="text">Расчет колонн на огнестойкость при огневом воздействии с 4 сторон</h4>
            <table class="table table-bordered table-striped" style="width:100%">
                <thead>
                    <tr>
                        <th>
                            Наименование расчета
                        </th>
                        <th>
                            Дата сохранения
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var obj in Model.DataForColumn)
                    {
                        <tr>
                            <td width="50%" class="text-center">
                                <form method="post">
                                    @{
                                        double strength = Math.Round(obj.Strength * 0.00010197162123, 2);
                                        double moment = Math.Round(obj.Moment * 0.00000010197162123, 2);
                                    }
                                    <div class="container">
                                        <div class="row">
                                            <a asp-controller="FireResistance" asp-action="LoadColumnFireFourSide" asp-route-id="@obj.Id" class="btn btn-common">Колонна @obj.HeighColumn x @obj.WidthColumn, @obj.FireResistanceValue, M=@moment т*м, N=@strength т</a>
                                        </div>
                                    </div>
                                </form>
                            </td>
                            <td width="30%">@obj.SaveDate</td>
                            <td class="text-center">
                                <a asp-controller="Archive" asp-action="DeleteDataOfColumn" asp-route-Id="@obj.Id" class="btn btn-del">Удалить</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        @if (Model.DataForSlab != null && Model.DataForSlab.Count() > 0)
        {
            <h4 class="text">Расчеты сплошных плит на огнестойкость при огневом воздействии снизу</h4>
            <table class="table table-bordered table-striped" style="width:100%">
                <thead>
                    <tr>
                        <th>
                            Наименование расчета
                        </th>
                        <th>
                            Дата сохранения
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var obj in Model.DataForSlab)
                    {
                        <tr>
                            <td width="50%" class="text-center">
                                <form method="post">
                                    @{
                                        double distributedLoad = Math.Round(obj.DistributedLoad / 0.0098066501, 2);
                                        string pillar = obj.IsOnCollums == 1 ? "колонны" : "стены";
                                    }
                                    <div class="container">
                                        <div class="row">
                                            <a asp-controller="FireResistance" asp-action="LoadSlab" asp-route-id="@obj.Id" type="submit" class="btn btn-common">Плита опретая на @pillar, h = @obj.Heigh, @obj.FireResistanceValue, M=@distributedLoad т/м2</a>
                                        </div>
                                    </div>
                                </form>
                            </td>
                            <td width="30%">@obj.SaveDate</td>
                            <td class="text-center">
                                <div class="w-75 btn-group" role="group">
                                    <a asp-controller="Archive" asp-action="DeleteDataOfSlab" asp-route-Id="@obj.Id" class="btn btn-del">Удалить</a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    }
    else
    {
        <h4>Данные не найдены</h4>
    }
</div>

