@model DataOfColumnFireFourSideVM
@inject NameColumns nameColumns

@if (Model != null)
{
    <partial name="_Result" model="@Model.Result" />
}

<form method="post">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="FireResistanceValue">Выберите требуемый предел огнестойкости:</label>
                    <select asp-for="SourceData.FireResistanceValue" size="1" class="form-control">
                        @foreach (string value in nameColumns.FireResistanceForCriticalTemperature)
                        {
                            <option value="@value">@value</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label for="ArmatureClass">Выберите класс арматуры по прочности:</label>
                    <select asp-for="SourceData.ArmatureClass" size="1" class="form-control">
                        @foreach (string value in nameColumns.ArmatureClass)
                        {
                            <option value="@value">@value.Replace("_", " ")</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label for="ConcreteType">Выберите вид бетона:</label>
                    <select asp-for="SourceData.ConcreteType" size="1" class="form-control">
                        @foreach (string value in nameColumns.ConcreteType)
                        {
                            <option value="@value">@value.Replace("_", " ")</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label for="ConcreteClass">Выберите класс бетона:</label>
                    <select asp-for="SourceData.ConcreteClass" size="1" class="form-control">
                        @foreach (string value in nameColumns.ConcreteClass)
                        {
                            <option value="@value">@value</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label for="FixationElement">Выберите вариант закрепления по концам элемента:</label>
                    <select asp-for="SourceData.FixationElement" size="1" class="form-control">
                        @foreach (string value in nameColumns.FixationElement)
                        {
                            <option value="@value">@value.Replace("_", " ")</option>
                        }
                    </select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="LengthColumn">Укажите длину элемента (мм):</label>
                    <input type="number" asp-for="SourceData.LengthColumn" class="form-control" />
                    <span asp-validation-for="SourceData.LengthColumn" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="HeightColumn">Укажите высоту элемента (мм):</label>
                    <input type="number" asp-for="SourceData.HeighColumn" class="form-control" />
                    <span asp-validation-for="SourceData.HeighColumn" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="WidthColumn">
                        Укажите ширину элемента (мм):
                        <input type="number" asp-for="SourceData.WidthColumn" class="form-control" />
                        <span asp-validation-for="SourceData.WidthColumn" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="ArmatureInstallationDepth">Укажите расстояние от грани элемента до центра тяжести арматуры (мм):</label>
                    <input type="number" asp-for="SourceData.ArmatureInstallationDepth" class="form-control" />
                    <span asp-validation-for="SourceData.ArmatureInstallationDepth" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="ArmatureDiameter">Укажите диаметр арматуры (мм):</label>
                    <select asp-for="SourceData.ArmatureDiameter" size="1" class="form-control">
                        @foreach (int value in nameColumns.ArmatureDiameter)
                        {
                            <option value="@value">@value</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label for="ArmatureCount">Укажите количество арматуры (шт.):</label>
                    <input type="number" asp-for="SourceData.ArmatureCount" class="form-control" />
                    <span asp-validation-for="SourceData.ArmatureCount" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="Moment">Укажите величину изгибающего момента от постоянной и длительной нормативной нагрузки (т*м):</label>
                    <input type="number" step="0.0001" asp-for="SourceData.Moment" class="form-control" />
                    <span asp-validation-for="SourceData.Moment" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="Strength">Укажите величину нормальной силы от постоянной и длительной нормативной нагрузки (т):</label>
                    <input type="number" step="0.0001" asp-for="SourceData.Strength" class="form-control" />
                    <span asp-validation-for="SourceData.Strength" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <button type="submit" class="btn btn-primary">Выполнить расчет</button>
            </div>
        </div>
    </div>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}


